name: PHP 8.4 Nginx (Azure)

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - variant: default
            dockerfile: ./php84-nginx-azure/Dockerfile
            tags: ghcr.io/jield-webdev/docker-repos/php8.4-nginx-azure:latest
            build_args: TZ=Europe/Amsterdam

          - variant: ast-time
            dockerfile: ./php84-nginx-azure/ast/Dockerfile
            tags: ghcr.io/jield-webdev/docker-repos/php8.4-nginx-azure:ast-time
            build_args: TZ=America/Glace_Bay

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push (Multi-platform) - ${{ matrix.variant }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.tags }}
          build-args: ${{ matrix.build_args }}
