name: PHP 8.5 Images

on:
  push:
    branches:
      - main
      - develop

jobs:
  cli-dev:
    uses: ./.github/workflows/docker-build-reusable.yml
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
    with:
      image_name: php8.5-cli
      context: .
      dockerfile: ./dockerfiles/php-cli-dev.Dockerfile
      tags: |
        ghcr.io/jield-webdev/docker-repos/php8.5-cli:dev
        ghcr.io/jield-webdev/docker-repos/php8.5-cli:dev-${{ github.sha }}
      build_args: |
        PHP_VERSION=8.5

  fpm-dev:
    uses: ./.github/workflows/docker-build-reusable.yml
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
    with:
      image_name: php8.5-fpm
      context: .
      dockerfile: ./dockerfiles/php-fpm-dev.Dockerfile
      tags: |
        ghcr.io/jield-webdev/docker-repos/php8.5-fpm:dev
        ghcr.io/jield-webdev/docker-repos/php8.5-fpm:dev-${{ github.sha }}
      build_args: |
        PHP_VERSION=8.5

  nginx-azure:
    uses: ./.github/workflows/docker-build-reusable.yml
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
    with:
      image_name: php8.5-nginx-azure
      context: .
      dockerfile: ./dockerfiles/php-nginx-azure.Dockerfile
      tags: |
        ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:latest
        ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:${{ github.sha }}
      build_args: |
        PHP_VERSION=8.5

  worker:
    uses: ./.github/workflows/docker-build-reusable.yml
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
    with:
      image_name: php8.5-worker
      context: .
      dockerfile: ./dockerfiles/php-worker.Dockerfile
      tags: |
        ghcr.io/jield-webdev/docker-repos/php8.5-worker:latest
        ghcr.io/jield-webdev/docker-repos/php8.5-worker:${{ github.sha }}
      build_args: |
        PHP_VERSION=8.5
