name: PHP 8.3 Worker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push (Multi-platform)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php83-worker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/jield-webdev/docker-repos/php8.3-worker:latest
            ghcr.io/jield-webdev/docker-repos/php8.3-worker:${{ github.sha }}
