name: PHP 8.5 Nginx (Azure)

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php84-nginx-azure/Dockerfile #Use this format so we have access to the scripts folder
          platforms: linux/amd64
          push: true
          tags: ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:latest

  build-ast-time:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php84-nginx-azure/ast/Dockerfile #Use this format so we have access to the scripts folder
          platforms: linux/amd64
          push: true
          tags: ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:ast-time

  build-arm64:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push linux/arm64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php84-nginx-azure/Dockerfile #Use this format so we have access to the scripts folder
          platforms: linux/arm64
          push: true
          tags: ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:arm64