name: PHP 8.5 Nginx (Azure)

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push (Multi-platform)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php85-nginx-azure/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:latest
            ghcr.io/jield-webdev/docker-repos/php8.5-nginx-azure:${{ github.sha }}
