name: PHP 8.5 CLI (dev)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push (Multi-platform)
        uses: docker/build-push-action@v6
        with:
          context: ./php85-cli-dev
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/jield-webdev/docker-repos/php8.5-cli:dev
            ghcr.io/jield-webdev/docker-repos/php8.5-cli:dev-${{ github.sha }}
